cityhash==0.4.10 ; python_version == "3.13"
click==8.3.1 ; python_version == "3.13"
cloudpickle==3.1.2 ; python_version == "3.13"
colorama==0.4.6 ; python_version == "3.13" and platform_system == "Windows"
datapipe-core==0.14.8 ; python_version == "3.13"
fsspec==2026.2.0 ; python_version == "3.13"
greenlet==3.3.2 ; (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32") and python_version == "3.13"
importlib-metadata==8.7.1 ; python_version == "3.13"
markdown-it-py==4.0.0 ; python_version == "3.13"
mdurl==0.1.2 ; python_version == "3.13"
numpy==2.4.3 ; python_version == "3.13"
opentelemetry-api==1.40.0 ; python_version == "3.13"
opentelemetry-instrumentation-sqlalchemy==0.61b0 ; python_version == "3.13"
opentelemetry-instrumentation==0.61b0 ; python_version == "3.13"
opentelemetry-sdk==1.40.0 ; python_version == "3.13"
opentelemetry-semantic-conventions==0.61b0 ; python_version == "3.13"
packaging==26.0 ; python_version == "3.13"
pandas==3.0.1 ; python_version == "3.13"
pillow==11.3.0 ; python_version == "3.13"
psycopg2-binary==2.9.11 ; python_version == "3.13"
pygments==2.19.2 ; python_version == "3.13"
pysqlite3-binary==0.5.4.post2 ; python_version == "3.13"
python-dateutil==2.9.0.post0 ; python_version == "3.13"
pyyaml==6.0.3 ; python_version == "3.13"
rich==14.3.3 ; python_version == "3.13"
six==1.17.0 ; python_version == "3.13"
sqlalchemy-pysqlite3-binary==0.0.4 ; python_version == "3.13"
sqlalchemy==2.0.48 ; python_version == "3.13"
tqdm-loggable==0.2 ; python_version == "3.13"
tqdm==4.67.3 ; python_version == "3.13"
traceback-with-variables==2.2.1 ; python_version == "3.13"
typing-extensions==4.15.0 ; python_version == "3.13"
tzdata==2025.3 ; (sys_platform == "win32" or sys_platform == "emscripten") and python_version == "3.13"
wrapt==1.17.3 ; python_version == "3.13"
zipp==3.23.0 ; python_version == "3.13"
